name: Build and Push Docker Images

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Get changed files
      id: changed-files
      uses: tj-actions/changed-files@v44

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push changed directories
      run: |
        # Get all directories with Dockerfiles
        dockerfile_dirs=$(find . -name Dockerfile -exec dirname {} \; | sort -u)

        # Also echo to console for immediate feedback
        echo "Found Dockerfiles in the following directories:"
        echo "$dockerfile_dirs"

        # Function to convert string to lowercase and URL-safe
        make_safe() {
          echo "$1" | tr '[:upper:]' '[:lower:]' | sed -e 's/[^a-zA-Z0-9.-]/-/g' -e 's/--/-/g' -e 's/-$//'
        }

        # Get all changed files
        changed_files=$(git diff --name-only ${{ github.event.before }} ${{ github.sha }})
        echo "Changed files:"
        echo "$changed_files"

        # If there is a change in a directory with a Dockerfile, build and push the image
        for dir in $dockerfile_dirs; do
          echo "Checking directory: $dir"
          if echo "$changed_files" | grep -q "^$dir/"; then
            safe_dir=$(make_safe "${dir#./}")
            echo "Detected changes in $dir"
            image_name=ghcr.io/${{ github.repository_owner }}/$safe_dir
            echo "Building and pushing $image_name"
            docker buildx build --platform linux/amd64,linux/arm64 -t $image_name:latest -t $image_name:${{ github.sha }} $dir
            docker push $image_name:latest
            docker push $image_name:${{ github.sha }}
          else
            echo "No changes detected in $dir"
          fi
        done
        